<div class="navbar">
    <div class="grid">
      <div class="grid__row">
        <!--Search Nav -->
        <div class="nav__menu">
          <div class="grid__column-2-6">
            <div class="nav__menu-dropdown">
              <div class="nav__menu-dropdown-icon">
                <span class="material-symbols-outlined">
                  reorder
                </span>
              </div>
              <div class="nav__menu-dropdown-select">
                <span class="nav__menu-dropdown-select__label">Danh mục sản phẩm</span>
                <span class="material-symbols-outlined">
                  expand_more
                </span>
              </div>
              <ul class="nav__menu-dropdown-list">
                <li class="nav__menu-dropdown-item">
                  <a href="" class="nav__menu-dropdown-item-link">Danh mục sản phẩm</a>
                </li>
              </ul>
            </div>
          </div>
  
          <!-- Nav item -->
          <div class="grid__column-1">
            <div class="nav__menu-item">
              <a href="" class="nav__menu-item-link">Trang chủ</a>
            </div>
          </div>
          <div class="grid__column-1">
            <div class="nav__menu-item">
              <a href="" class="nav__menu-item-link">Giới thiệu</a>
            </div>
          </div>
          <div class="grid__column-1">
            <div class="nav__menu-item">
              <a href="" class="nav__menu-item-link">Tin tức</a>
            </div>
          </div>
          <div class="grid__column-1">
            <div class="nav__menu-item">
              <a href="" class="nav__menu-item-link">Liên hệ</a>
            </div>
          </div>
  
        </div>
      </div>
  
    </div>
</div>
