<div class="order-detail-wrapper">
    <div class="order-detail">
        <!-- Heading -->
        <div class="order-detail__heading">
            <div class="order-detail__heading-back">
                <div class="order-detail__heading-back-icon-wrapper">
                    <span class="material-symbols-outlined order-detail__heading-back-icon">
                        undo
                    </span>
                </div>
                <div class="order-detail__heading-back-text">
                    Trở lại
                </div>
            </div>
            <div class="order-detail__heading-id">
                <div class="order-detail__heading-id-label">
                    Mã đơn hàng:
                </div>
                <div class="order-detail__heading-id-value">
                    #123456789
                </div>
            </div>
        </div>
        <!-- Process -->
        <div class="order-detail__process">
            <!-- Process Item -->
            <div class="order-detail__process-group">
                <div class="order-detail__process-illustration order-detail__process-illustration--active">
                    <div class="order-detail__process-illustration-line">

                    </div>
                    <span class="material-symbols-outlined order-detail__process-illustration-icon">
                        payments
                    </span>
                    <div class="order-detail__process-illustration-line">

                    </div>
                </div>
            </div>

            <!-- Process Item -->
            <div class="order-detail__process-group">
                <div class="order-detail__process-illustration">
                    <div class="order-detail__process-illustration-line">

                    </div>
                    <span class="material-symbols-outlined order-detail__process-illustration-icon">
                        memory
                    </span>
                    <div class="order-detail__process-illustration-line">
                        
                    </div>
                </div>
            </div>

            <!-- Process Item -->
            <div class="order-detail__process-group">
                <div class="order-detail__process-illustration">
                    <div class="order-detail__process-illustration-line">

                    </div>
                    <span class="material-symbols-outlined order-detail__process-illustration-icon">
                        local_shipping
                    </span>
                    <div class="order-detail__process-illustration-line">

                    </div>
                </div>
            </div>

            <!-- Process Item -->
            <div class="order-detail__process-group">
                <div class="order-detail__process-illustration">
                    <div class="order-detail__process-illustration-line">

                    </div>
                    <span class="material-symbols-outlined order-detail__process-illustration-icon">
                        approval_delegation
                    </span>
                    <div class="order-detail__process-illustration-line">

                    </div>
                </div>
            </div>

            <!-- Process Item -->
            <div class="order-detail__process-group">
                <div class="order-detail__process-illustration">
                    <div class="order-detail__process-illustration-line">

                    </div>
                    <span class="material-symbols-outlined order-detail__process-illustration-icon">
                        scan_delete
                    </span>
                    <div class="order-detail__process-illustration-line">

                    </div>
                </div>
            </div>
        </div>
        <!-- Process Text -->
        <div class="order-detail__process-notice">
            <div class="order-detail__process-notice-item">
                <div class="order-detail__process-notice-item-text">
                    Thông tin thanh toán được xác nhận
                </div>
            </div>
            <div class="order-detail__process-notice-item">
                <div class="order-detail__process-notice-item-text">
                    Đang xử lý đơn hàng
                </div>
            </div>
            <div class="order-detail__process-notice-item">
                <div class="order-detail__process-notice-item-text">
                    Đang trên đường vận chuyển
                </div>
            </div>
            <div class="order-detail__process-notice-item">
                <div class="order-detail__process-notice-item-text">
                    Đã giao đến tay khách hàng
                </div>
            </div>
            <div class="order-detail__process-notice-item">
                <div class="order-detail__process-notice-item-text">
                    Đơn hàng đã hủy
                </div>
            </div>
        </div>
        <!-- Product List -->
        <div class="order-detail__product-list">
            <div class="order-detail__product-list-heading">
                Thông tin đơn hàng
            </div>
            <!--Product Item -->
            <div class="order-detail__product-list-item">
                <div class="order-detail__product-list-item-info">
                    <div class="order-detail__product-list-item-info-thumbnail" style="background-image: url(https://phamland.net/wp-content/uploads/2023/01/meo-than-tai-1.jpg);">

                    </div>
                    <div class="order-detail__product-list-item-info-group">
                        <div class="order-detail__product-list-item-info-title">
                            Mèo Thần Tài Vẫy Tay Phát Tài Phát Lộc Gốm Sứ Cao Cấp Kèm đệm đỏ Mèo Maneki Neko
                        </div>
                        <div class="order-detail__product-list-item-info__sub">
                            <div class="order-detail__product-list-item-info__sub-quantity">
                                x1
                            </div>
                            <div class="order-detail__product-list-item-info__sub-tag">
                                SẢN PHẨM MỚI
                            </div>
                            <div class="order-detail__product-list-item-info__sub-tag">
                                GIAO NHANH
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-detail__product-list-item-price">
                    <div class="order-detail__product-list-item-price-current">
                        130.000 đ
                    </div>
                    <div class="order-detail__product-list-item-price-old">
                        150.000 đ
                    </div>
                </div>
            </div>
            <!--Product Item -->
            <div class="order-detail__product-list-item">
                <div class="order-detail__product-list-item-info">
                    <div class="order-detail__product-list-item-info-thumbnail" style="background-image: url(https://phamland.net/wp-content/uploads/2023/01/meo-than-tai-1.jpg);">

                    </div>
                    <div class="order-detail__product-list-item-info-group">
                        <div class="order-detail__product-list-item-info-title">
                            Mèo Thần Tài Vẫy Tay Phát Tài Phát Lộc Gốm Sứ Cao Cấp Kèm đệm đỏ Mèo Maneki Neko
                        </div>
                        <div class="order-detail__product-list-item-info__sub">
                            <div class="order-detail__product-list-item-info__sub-quantity">
                                x1
                            </div>
                            <div class="order-detail__product-list-item-info__sub-tag">
                                SẢN PHẨM MỚI
                            </div>
                            <div class="order-detail__product-list-item-info__sub-tag">
                                GIAO NHANH
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-detail__product-list-item-price">
                    <div class="order-detail__product-list-item-price-current">
                        130.000 đ
                    </div>
                    <div class="order-detail__product-list-item-price-old">
                        150.000 đ
                    </div>
                </div>
            </div>
            <!--Product Item -->
            <div class="order-detail__product-list-item">
                <div class="order-detail__product-list-item-info">
                    <div class="order-detail__product-list-item-info-thumbnail" style="background-image: url(https://phamland.net/wp-content/uploads/2023/01/meo-than-tai-1.jpg);">

                    </div>
                    <div class="order-detail__product-list-item-info-group">
                        <div class="order-detail__product-list-item-info-title">
                            Mèo Thần Tài Vẫy Tay Phát Tài Phát Lộc Gốm Sứ Cao Cấp Kèm đệm đỏ Mèo Maneki Neko
                        </div>
                        <div class="order-detail__product-list-item-info__sub">
                            <div class="order-detail__product-list-item-info__sub-quantity">
                                x1
                            </div>
                            <div class="order-detail__product-list-item-info__sub-tag">
                                SẢN PHẨM MỚI
                            </div>
                            <div class="order-detail__product-list-item-info__sub-tag">
                                GIAO NHANH
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-detail__product-list-item-price">
                    <div class="order-detail__product-list-item-price-current">
                        130.000 đ
                    </div>
                    <div class="order-detail__product-list-item-price-old">
                        150.000 đ
                    </div>
                </div>
            </div>
        </div>
        <!-- Info Shipping -->
        <div class="order-detail__info-shipping">
            <h3 class="order-detail__info-shipping-heading">
                Thông tin nhận hàng
            </h3>
            <div class="order-detail__info-shipping-text">
                Trần Nhật Toản / 0123456789 / 156 Mẹ Thứ, Phường Hòa Xuân, Quận Cẩm Lệ, Đà Nẵng
            </div>
        </div>
        <!-- Total Price -->
        <div class="order-detail__total-price">
            <div class="order-detail__total-price-group">
                <div class="order-detail__total-price-label">
                    Tổng tiền hàng
                </div>
                <div class="order-detail__total-price-value">
                    620.000 đ
                </div>
            </div>
            <div class="order-detail__total-price-group">
                <div class="order-detail__total-price-label">
                    Phí vận chuyển
                </div>
                <div class="order-detail__total-price-value">
                    50.000 đ
                </div>
            </div>
            <div class="order-detail__total-price-group">
                <div class="order-detail__total-price-label">
                    Giảm trừ khuyến mãi
                </div>
                <div class="order-detail__total-price-value">
                    0 đ
                </div>
            </div>
            <div class="order-detail__total-price-group">
                <div class="order-detail__total-price-label">
                    Tổng giá trị đơn hàng
                </div>
                <div class="order-detail__total-price-value order-detail__total-price-value--highlight">
                    670.000 đ
                </div>
            </div>
        </div>
        <!-- Payment Method -->
        <div class="order-detail__payment-method">
            <div class="order-detail__payment-method-label">
                Trạng thái thanh toán:
            </div>
            <div class="order-detail__payment-method-value">
                Thanh toán khi nhân hàng
            </div>
        </div>
    </div>


    <div class="order-detail-control">
        <button class="order-detail-control-cancel-btn btn">
            Hủy đơn hàng
        </button>
        <button class="order-detail-control-contact-btn btn">
            Liên hệ cửa hàng
        </button>
    </div>
</div>