<!-- Header -->
<app-header></app-header>


<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Breadcrumb -->
<app-breadcrumbs></app-breadcrumbs>

<!-- Body content -->
<div class="container">
  <div class="grid">

    <!-- User Interface -->
    <!-- <div class="grid__row">
      <div class="container-wrap"> -->
    <!-- Menu Profile -->
    <!-- <div class="grid__column-2-6">
          <app-menuprofile></app-menuprofile>
        </div> -->

    <!-- Form -->
    <!-- <div class="grid__column-9-4">
          <router-outlet> -->

    <!-- </router-outlet> -->
    <!-- <app-profileform></app-profileform> -->
    <!-- <app-myaddress></app-myaddress> -->
    <!-- <app-orderlist></app-orderlist> -->
    <!-- <app-favorite></app-favorite> -->
    <!-- <app-orderdetail></app-orderdetail> -->
    <!-- </div>
      </div>
    </div> -->
    <app-cart></app-cart>
    
  </div>
</div>

<!-- Footer -->

<app-footer></app-footer>

<router-outlet name="modal"></router-outlet>