<div class="my-address">
    <!-- Heading -->
    <div class="my-address-heading">
        <div class="my-address-heading__text">
            <div class="my-address-heading-title">
                Địa chỉ của tôi
            </div>
            <div class="my-address-heading-notice">
                Vui lòng ghi đúng địa chỉ giao hàng của bạn
            </div>
        </div>
        <div class="my-address-heading-btn">
            <button class="my-address-heading-btn__create btn">
                <span class="material-symbols-outlined my-address-heading-btn__create-icon">
                    add
                    </span>
                <div class="my-address-heading-btn__create-text">
                    Thêm địa chỉ
                </div>
            </button>
        </div>
    </div>

    <!-- List Address -->
    <div class="my-address-list">

        <!-- Address Item -->
        <div class="my-address-item">
            <!-- Heading  -->
            <div class="my-address-item__heading">
                Địa chỉ 1
            </div>
            <!-- Body -->
            <div class="my-address-item__body">
                <!-- Body Text -->
                <div class="my-address-item__body-text">
                    <div class="my-address-item__body-text-info">
                        <div class="my-address-item__body-text-info-name">Trần Nhật Toản</div>
                        <div class="my-address-item__body-text-info-seperate">|</div>
                        <div class="my-address-item__body-text-info-phone">0123456789</div>
                    </div>
                    <div class="my-address-item__body-text-address">
                        156 Mẹ Thứ, Phường Hòa Xuân, Quận Cẩm Lệ, Đà Nẵng
                    </div>
                </div>

                <!-- Body Control -->
                <div class="my-address-item__body-control">
                    <div class="my-address-item__body-control-update">
                        <a href="" class="my-address-item__body-control-update-link">
                            Sửa
                        </a>
                    </div>
                    <div class="my-address-item__body-control-default">
                        <button class="my-address-item__body-control-default-btn btn">
                            Đặt thành mặc định
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Item 2 -->
        <div class="my-address-item">
            <!-- Heading  -->
            <div class="my-address-item__heading">
                Địa chỉ 2
            </div>
            <!-- Body -->
            <div class="my-address-item__body">
                <!-- Body Text -->
                <div class="my-address-item__body-text">
                    <div class="my-address-item__body-text-info">
                        <div class="my-address-item__body-text-info-name">Trần Nhật Toản</div>
                        <div class="my-address-item__body-text-info-seperate">|</div>
                        <div class="my-address-item__body-text-info-phone">0123456789</div>
                    </div>
                    <div class="my-address-item__body-text-address">
                        156 Mẹ Thứ, Phường Hòa Xuân, Quận Cẩm Lệ, Đà Nẵng
                    </div>
                </div>

                <!-- Body Control -->
                <div class="my-address-item__body-control">
                    <div class="my-address-item__body-control-update">
                        <a href="" class="my-address-item__body-control-update-link">
                            Sửa
                        </a>
                    </div>
                    <div class="my-address-item__body-control-default">
                        <button class="my-address-item__body-control-default-btn btn">
                            Đặt thành mặc định
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Item 3 -->
        <div class="my-address-item">
            <!-- Heading  -->
            <div class="my-address-item__heading">
                Địa chỉ 3
            </div>
            <!-- Body -->
            <div class="my-address-item__body">
                <!-- Body Text -->
                <div class="my-address-item__body-text">
                    <div class="my-address-item__body-text-info">
                        <div class="my-address-item__body-text-info-name">Trần Nhật Toản</div>
                        <div class="my-address-item__body-text-info-seperate">|</div>
                        <div class="my-address-item__body-text-info-phone">0123456789</div>
                    </div>
                    <div class="my-address-item__body-text-address">
                        156 Mẹ Thứ, Phường Hòa Xuân, Quận Cẩm Lệ, Đà Nẵng
                    </div>
                </div>

                <!-- Body Control -->
                <div class="my-address-item__body-control">
                    <div class="my-address-item__body-control-update">
                        <a href="" class="my-address-item__body-control-update-link">
                            Sửa
                        </a>
                    </div>
                    <div class="my-address-item__body-control-default">
                        <button class="my-address-item__body-control-default-btn btn">
                            Đặt thành mặc định
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>